.inittable {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #a7a7a7;
    gap: 1rem;
    justify-content: space-between;
}

.datarow:hover,
button:hover,
input[type="checkbox"]:hover {
    cursor: pointer;
}

.two-column {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    box-sizing: border-box;
}

.two-column>div:first-child{
    flex: auto;
    max-width: 75%;
    min-width: 75%;
}

.two-column>div:last-child{
    flex: auto;
    max-width: 20%;
    min-width: 20%;
}
.autoroll-highlight {
    background-color: #c7c7c7;
}

.remove-row {
    display: none;
}