body{
    margin:0;
    padding: 0;
}
.inittable {
    
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #a7a7a7;
    gap: 1rem;
    justify-content: flex-start;
}

.datarow:hover,
button:hover,
input[type="checkbox"]:hover {
    cursor: pointer;
}

.two-column {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .5rem 1rem;
    box-sizing: border-box;
    overflow:hidden;
    max-height: 100vh;
    margin: 0;
    padding: 0;
}

.spacer-column {
    flex: 0 0 50px;
}

.detail-column {
    flex: auto;
    max-width: calc(100% - 250px);
    min-width: 500px;
}

.add-character-col{
    flex: 0 0 200px;
}

.inittable.datarow>div{
    flex: 1 1 200px;
    padding: 5px 1rem;
}

.inittable.datarow>div>div{
    display:flex;
    flex-wrap:nowrap;
    justify-content: flex-start;
    column-gap: 1rem;
}

.autoroll-highlight {
    background-color: #c7c7c7;
}

.remove-row {
    display: none;
}

.star-five {
    margin: 12.5px 0;
    position: relative;
    display: block;
    color: red;
    width: 0px;
    height: 0px;
    border-right: 25px solid transparent;
    border-bottom: 17.5px solid red;
    border-left: 25px solid transparent;
    transform: rotate(35deg);
}
.star-five:before {
    border-bottom: 20px solid red;
    border-left: 7.5px solid transparent;
    border-right: 7.5px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -11.25px;
    left: -16.25px;
    display: block;
    content: '';
    transform: rotate(-35deg);
}
.star-five:after {
    position: absolute;
    display: block;
    color: red;
    top: .75px;
    left:-26.25px;
    width: 0px;
    height: 0px;
    border-right: 25px solid transparent;
    border-bottom: 17.5px solid red;
    border-left: 25px solid transparent;
    transform: rotate(-70deg);
    content: ''
}

#next-init-container {
    display: block;
}

.detail-column,
.add-character-col {
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-gutter: stable;
}

.make-bold {
    font-weight: 700;
}